body{
    background-color: #333d4a;
    color: white;
    margin: 0;
}
.clearfix::after{
    content:'';
    display: block;
    clear: both;
}

.topNavBar > a{
    float: left;
    text-decoration: none;
}

.topNavBar > nav > ul{
    list-style: none;
}

.topNavBar > nav > ul > li{
    float: right;
    margin: 20px 17px;
    padding-bottom: 7px;
    border: 1px solid transparent;
}
.topNavBar li:hover{
    border-bottom: 3px solid #ea4c5e;
}
.topNavBar > nav > ul > li > a{
    text-decoration: none;
    color: rgba(255,255,255,0.7);
    font-size:13px;
}
.topNavBar .rs{
    color: #ed4d5f;
    font-family: "Adobe Gothis Std";
    font-size: 30px;
    font-weight:bold;
}
.topNavBar .card{
    color: #9a9da2;
    font-family: "Adobe Gothis Std";
    font-size: 30px;
    margin-left: 2px;
    font-weight:bold;
}
.topNavBar>a{
    margin: 11px 0 11px 15px;
}